tmp_downloads/

.gradle/
build/
app/build/
local.properties
*.iml
.idea/
.kotlin/
.venv/

.DS_Store
__pycache__/
*.py[cod]
/third_party/ffmpeg/
/third_party/deno/
/changelog/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
